<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-custom">
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
        <h1 class="rule-title">กฎหมายของ มั่วมั่ว</h1>
        <p>1. ห้ามโพสต์ ข้อความที่ เกี่ยวกับยาเสพติด ล่วงละเมิดผู้อื่น ดูหมิ่น สถาบันชาติ ศาสนา พระมหากษัตริย์</p>
        <p>2. Admin สามารถลบข้อความของผู้ใช้ได้โดยไม่ต้องขออนุญาต</p>
        <p>3. Admin สามารถ ban ผู้ใช้ได้โดยไม่ต้องขออนุญาต</p>
        <p>4. มั่วมั่วไม่มีส่วนเกี่ยวข้องกับข้อความไดไดทั้งสิ้น</p>
        <h1 class="rule-title">วิธีเเจ้ง / ลบข้อความที่ไม่เหมาะสม</h1>
        <p>1. ข้อความที่มีคะเเนนเท่ากับ -6 จะโดนลบโดยอัตโนมัติ</p>
        <p>2. กดปุ่มเเจ้งข้อความที่ไม่เหมาะสม</p>
        <button class="button button-block button-positive submit-button" ng-click="closeModal()">ยอมรับ</button>
    </ion-content>
</ion-modal-view>