<ion-view view-title="Peek">
    <ion-content>
        <div class="chula" ng-click="goToPeekDetail('Chula', 13.738622, 100.530947)">
          <h1 class="school-title">Chula</h1>
        </div>
        <div class="mahidol" ng-click="goToPeekDetail('Mahidol', 13.794400, 100.324730)">
          <h1 class="school-title">Mahidol</h1>
        </div>
        <div class="kaset" ng-click="goToPeekDetail('Kaset', 13.851867, 100.567519)">
          <h1 class="school-title">Kaset</h1>
        </div>
        <div class="thammasart" ng-click="goToPeekDetail('Thammasat', 13.756372, 100.491011)">
          <h1 class="school-title">Thammasat</h1>
        </div>
        <div class="abac" ng-click="goToPeekDetail('Abac', 13.686982, 100.702093)">
          <h1 class="school-title">Abac</h1>
        </div>
        <div class="kmtt" ng-click="goToPeekDetail('Kmtt', 13.6757146, 100.4919194)">
          <h1 class="school-title">Kmtt</h1>
        </div>
    </ion-content>
</ion-view>