<ion-view view-title="Peek">
    <ion-content>
        <div class="chula">
          <h1 class="school-title" ng-click="goToPeekDetail('Chula', 13.738622, 100.530947)">Chula</h1>
        </div>
        <div class="mahidol">
          <h1 class="school-title" ng-click="goToPeekDetail('Mahidol', 13.794400, 100.324730)">Mahidol</h1>
        </div>
        <div class="kaset">
          <h1 class="school-title" ng-click="goToPeekDetail('Kaset', 13.851867, 100.567519)">Kaset</h1>
        </div>
        <div class="thammasart">
          <h1 class="school-title" ng-click="goToPeekDetail('Thammasat', 13.756372, 100.491011)">Thammasat</h1>
        </div>
        <div class="abac">
          <h1 class="school-title" ng-click="goToPeekDetail('Abac', 13.686982, 100.702093)">Abac</h1>
        </div>
        <div class="kmtt">
          <h1 class="school-title" ng-click="goToPeekDetail('Kmtt', 13.6757146, 100.4919194)">Kmtt</h1>
        </div>
    </ion-content>
</ion-view>