<ion-view view-title="Message">
    <ion-content class="write-back">
        <div>
            <div class="post">
                <div class="row">
                    <div class="col col-80">
                        <h4 class="title">{{selectedMessage.title}}</h4>
                        <p>{{selectedMessage.text}}</p>
                    </div>
                    <div class="col col-20 up-down">
                        <i ng-show="selectedMessage.canDownVote" class="icon ion-chevron-up block up-button"></i>
                        <p class="block number-result">{{selectedMessage.rating}}</p>
                        <i ng-show="selectedMessage.canDownVote" class="icon ion-chevron-down block"></i>
                    </div>
                </div>
                <div class="row align-bottom-comment">
                    <p class="time">{{selectedMessage.date}}</p>
                    <p class="comments" ng-click="deleteMessage(selectedMessage._id)">แจ้งลบข้อความ</p>
                </div>
            </div>
            <div class="bottom-border-comment"></div>
            <div collection-repeat="comment in selectedMessage.comment">
                <div class="post">
                    <div class="row">
                        <h5 class="title"># {{$index}}</h5>
                        <div class="col">
                            <p>{{comment}}</p>
                        </div>
                    </div>
                    <div class="row align-bottom">
                        <p class="time"></p>
                        <p class="comments" ng-click="deleteMessage(selectedMessage._id)">แจ้งลบข้อความ</p>
                    </div>
                </div>
                <div class="bottom-border"></div>
            </div>
        </div>
        <div class="bottom-page"></div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <div class="item item-input-inset submit-background">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Reply..." ng-model="reply_text.answer">
            </label>
            <button class="button button-small" ng-click="submitReply()">
                Submit
            </button>
        </div>
    </div>
</ion-view>